body {
  margin: 0px;
  padding: 0px;
  background-color: #222327;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Courier New', Courier, monospace;
}

li {
  list-style: none;
}

img {
  width: 100%;
  display: block;
}

ul, li {
  padding: 0px;
  margin: 0px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 70px;
  background-color: #fff;
  border-radius: 15px;
  position: relative;
}

.nav li {
  width: 70px;
  height: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

.nav li .icon {
padding-top: 18px;
  font-size: 1.5rem;
  text-align: center;
  display: block;
  transition: 0.5s;
  color: #222327;
}

.nav li.active .icon {
  transform: translateY(-32px);
}

.nav li .text {
  position: absolute;
  padding-top: 35px;
  color: #222327;
  font-size: 0.75rem;
  letter-spacing: 0.05rem;
  transition: 0.5s;
  opacity: 0;
  transform: translateY(20px);
}
.nav li.active .text {
  transform: translateY(-32px);
  opacity: 1;
  transform: translateY(10px);
}

.indicator {
  height: 60px;
  width: 60px;
  background-color: #ffbb00;
  top: -54%;
  left: 23px;
  border-radius: 50%;
  border: 6px solid #222327;
  transition: 0.5s;
  position: absolute;
}

.indicator::before {
  content: "";
  position: absolute;
  top: 49%;
  left: -17px;
  width: 16px;
  height: 16px;
  background-color:transparent;

  border-top-right-radius: 20px;
  box-shadow: 0px -10px 0 0 #222327;
} 

.indicator::after {
  content: "";
  position: absolute;
  top: 49%;
  right: -17px;
  width: 16px;
  height: 16px;
  background-color:transparent;

  border-top-left-radius: 20px;
  box-shadow: 0px -10px 0px 0px #222327;
}

.nav li:nth-child(1).active ~ .indicator {
  transform:translateX(calc(70px * 0));
}

.nav li:nth-child(2).active ~ .indicator {
  transform:translateX(calc(70px * 1));
}

.nav li:nth-child(3).active ~ .indicator {
  transform:translateX(calc(70px * 2));
}

.nav li:nth-child(4).active ~ .indicator {
  transform:translateX(calc(70px * 3));
}

.nav li:nth-child(5).active ~ .indicator {
  transform:translateX(calc(70px * 4));
}




